@model EmployeeManagementWeb.Models.Employee

@{
    ViewData["Title"] = "EmployeeDeatil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Employee</h3>
                </div>
                @* @if() *@
                <div class="card-body">
                    <form asp-action="EmployeeDeatil" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter User Name !" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Enter User Name !" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" type="text" class="form-control" placeholder="Enter User Name !" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="Designation" class="control-label"></label>
                                <input asp-for="Designation" type="text" class="form-control" placeholder="Enter User Name !" />
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="MobileNumber" class="control-label"></label>
                                <input asp-for="MobileNumber" type="text" class="form-control" placeholder="Enter User Name !" />
                                <span asp-validation-for="MobileNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" type="text" class="form-control" placeholder="Enter User Name !" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="col-md"style="align-items:center;">
                            <input type="submit" value="Save" class="btn btn-primary"style="margin-left: 466px;"/>
                        </div>
                        <div>
                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/popclose.js"></script>
    }
}
